@model IEnumerable<HangmanDatabaseFirst.Palavra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Palavra
        </th>

        <th>
            Dificuldade
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.palavra1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_dificuldade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_palavra }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_palavra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_palavra })
        </td>
    </tr>
}

</table>
